.settings
target
.classpath
.project
.iml
.ipl
doc
src/main/java/com/github/mfds2j/**
src/**/*.class
dependencies/*.*
/dependencies/cobol2j/*
!/dependencies/cobol2j/commons-lang-2.4.jar
/dependencies/cb2xml/*
!/dependencies/cb2xml/cb2xml.jar
!/dependencies/cb2xml/cb2xml_Jaxb.jar
/dependencies/*/com/
/dependencies/MicroFocus
/dependencies/recgen
src/main/java/com/*.java
src/main/java/com/ibm/*
src/main/java/com/microfocus/*
