.settings
target
.classpath
.project
src/**/*.class
dependencies/*
!dependencies/cobol2j/commons-lang-2.4.jar
!dependencies/cb2xml/cb2xml.jar
!dependencies/cb2xml/cb2xml_Jaxb.jar
src/main/java/com/CommonData.java
src/main/java/com/DecimalData.java
src/main/java/com/PackedDecimal$PackedDecimalOperand.java
src/main/java/com/PackedDecimal.java
